<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ .Title }}</title>
        {{- partial "head/common-css.html" . -}}
        {{- partial "head/common-js.html" . -}}
    </head>
    <body>
        <div class="min-h-screen bg-gray-100">
            {{- partial "header.html" . -}}
            <main class="-mt-24 pb-8">
                <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
                    <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
                        {{- block "main" . }}{{- end }}
                    </div>
                </div>
            </main>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
