<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ .Title }}</title>

        {{- partial "head/common-css.html" . -}}
        {{- partial "head/common-js.html" . -}}
    </head>
    <body>
        <div class="min-h-screen bg-gray-100">

            {{- partial "header.html" . -}}

            <main class="-mt-24 pb-8">
                <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                    <h1 class="sr-only">Page title</h1>
                    <!-- Main 3 column grid -->
                    <div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8">
                        <!-- Left column -->
                        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
                            <section aria-labelledby="section-1-title">
                                <h2 class="sr-only" id="section-1-title">Section title</h2>
                                <div class="rounded-lg bg-white overflow-hidden shadow">
                                    <div class="p-6">
                                        {{- block "main" . }}{{- end }}
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!-- Right column -->

                        <div class="grid grid-cols-1 gap-4">
                            <section aria-labelledby="section-2-title">
                                <h2 class="sr-only" id="section-2-title">Section title</h2>
                                <div class="rounded-lg bg-white overflow-hidden shadow">
                                    <div class="p-6">
                                        <!--JustGiving Page-->
                                        <div id="jg-widget-geoffrey-hayward-79">Loading...</div><script>(function(){var id="jg-widget-geoffrey-hayward-79",doc=document,pfx=(window.location.toString().indexOf("https")==0)?"https":"http";var el=doc.getElementById(id);if(el){var js=doc.createElement('script');js.src=pfx+"://widgets.justgiving.com/fundraisingpage/geoffrey-hayward?enc=ZT1qZy13aWRnZXQtZ2VvZmZyZXktaGF5d2FyZC03OSZ3PTQwMCZiPWltYWdlLGRvbmF0ZSZpYj10aXRsZSxzdW1tYXJ5LHByb2dyZXNzLHJhaXNlZCx0YXJnZXQ%3D";el.parentNode.insertBefore(js, el);}})();</script>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </main>

            {{- partial "footer.html" . -}}

        </div>
    </body>
</html>
